<html>
  <head>
    <h4>RESR's Docker</h4>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>first Docker-Container by RESR ;-) </h4>
      <h2>Du hast die Seite aufgerufen am: {{akttime}} </h2>
      <img src="{{url}}" />
      <p><small>Drücke F5 für noch mehr Katze !!!</small></p>
    </div>
  </body>
</html>
